*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 { /*reset for mobile browsers */
    font-weight: normal;
}

@font-face {
    font-family: 'Formula Condensed';
    font-style: normal;
    font-weight: normal;
    src:    url("fonts/FormulaCondensed-Regular.otf") format("opentype"),
            url("fonts/FormulaCondensed-Regular.woff") format("woff"),
            url("fonts/FormulaCondensed-Regular.woff2") format("woff2"),
            url("fonts/FormulaCondensed-Regular.ttf") format("truetype"),
            url("fonts/FormulaCondensed-Regular.eot") format("embedded-opentype"),
}

@font-face {
    font-family: 'Formula Condensed';
    font-weight: bold;
    src:    url("fonts/FormulaCondensed-Bold.otf") format("opentype"),
            url("fonts/FormulaCondensed-Bold.woff") format("woff"),
            url("fonts/FormulaCondensed-Bold.woff2") format("woff2"),
            url("fonts/FormulaCondensed-Bold.ttf") format("truetype"),
            url("fonts/FormulaCondensed-Bold.eot") format("embedded-opentype"),
}

body {
    display: grid;
    grid-template-rows: 100vh 100vh 100vh 100vh 100vh;
    font-family: 'Formula Condensed';
    font-size: 8vw;
    letter-spacing: 2.1px;
}

.landing {
    grid-row: 1 / 2;
    display: flex;   
    justify-content: center;
    align-items: center;
}

.v2 {
    grid-row: 2 / 3;
    display: flex;   
    justify-content: center;
    align-items: center; 
    background-color: aqua;   
}

.v3 {
    grid-row: 3 / 4;
    display: flex;   
    justify-content: center;
    align-items: center; 
    background-color: coral;   
}

.v4 {
    grid-row: 4 / 5;
    display: flex;   
    justify-content: center;
    align-items: center; 
    background-color: moccasin;   
}

.v5 {
    grid-row: 5 / 6;
    display: flex;   
    justify-content: center;
    align-items: center; 
    background-color: aqua;   
}

#title-banner {
    display: flex;
}

.title-banner-letters {
    font-style: bold;
    cursor: default;
    margin: 0;
    font-feature-settings: normal;
    /* -webkit-transition: all 2.5s ease;
    -moz-transition: all 2.5s ease;
    -o-transition: all 2.5s ease;
    transition: all .5s ease; */
}

.title-banner-letters-end {
    font-style: bold;
    cursor: default;
}

.title-banner-hover {
    font-feature-settings: "salt";
    /* -webkit-transition: all 2.5s ease;
    -moz-transition: all 2.5s ease;
    -o-transition: all 2.5s ease;
    transition: all .5s ease; */
}
