*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 { /* reset */
    font-weight: normal;
}

a {
    color: black;
    text-decoration: none;
    text-transform: none;
}

@font-face {
    font-family: 'Formula Condensed';
    font-style: normal;
    font-weight: normal;
    src:    url("fonts/FormulaCondensed-Regular.otf") format("opentype"),
            url("fonts/FormulaCondensed-Regular.woff") format("woff"),
            url("fonts/FormulaCondensed-Regular.woff2") format("woff2"),
            url("fonts/FormulaCondensed-Regular.ttf") format("truetype"),
            url("fonts/FormulaCondensed-Regular.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Formula Condensed';
    font-weight: bold;
    src:    url("fonts/FormulaCondensed-Bold.otf") format("opentype"),
            url("fonts/FormulaCondensed-Bold.woff") format("woff"),
            url("fonts/FormulaCondensed-Bold.woff2") format("woff2"),
            url("fonts/FormulaCondensed-Bold.ttf") format("truetype"),
            url("fonts/FormulaCondensed-Bold.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Telegraf';
    font-weight: bold;
    src:    url("fonts/Telegraf-Bold.otf") format("opentype"),
            url("fonts/Telegraf-Bold.woff") format("woff"),
            url("fonts/Telegraf-Bold.woff2") format("woff2"),
            url("fonts/Telegraf-Bold.ttf") format("truetype"),
            url("fonts/Telegraf-Bold.eot") format("embedded-opentype");
}

@font-face {
    font-family: 'Telegraf';
    font-weight: bolder;
    src:    url("fonts/Telegraf-UltraBold.otf") format("opentype"),
            url("fonts/Telegraf-UltraBold.woff") format("woff"),
            url("fonts/Telegraf-UltraBold.woff2") format("woff2"),
            url("fonts/Telegraf-UltraBold.ttf") format("truetype"),
            url("fonts/Telegraf-UltraBold.eot") format("embedded-opentype");
}


@font-face {
    font-family: 'Telegraf';
    font-weight: normal;
    src:    url("fonts/Telegraf-Regular.otf") format("opentype"),
            url("fonts/Telegraf-Regular.woff") format("woff"),
            url("fonts/Telegraf-Regular.woff2") format("woff2"),
            url("fonts/Telegraf-Regular.ttf") format("truetype"),
            url("fonts/Telegraf-Regular.eot") format("embedded-opentype");
}

body {
    display: grid;
    grid-template-rows: 100vh auto auto auto auto 30vh;
    grid-template-columns: 10px 1fr 2fr 1fr 10px;
    font-family: 'Formula Condensed';
    font-size: 8vw;
    letter-spacing: 2.1px; 
    background-color: black;
    transition: background-color 0.5s ease;
}

.landing {
    grid-row: 1 / 2;
    grid-column: span 5;
    display: flex;   
    justify-content: center;
    align-items: center;
}

#v-copy {
    grid-row: 2 / 6;
    grid-column: 2 / 5;
}

#v2 {
    grid-row: 2 / 3;
    grid-column: 2 / 5;
    padding-top: 5vh;
    padding-bottom: 5vh;
    display: flex;   
    justify-content: space-around;
    align-items: center; 
    background-color: #fee6e6;   
}

#v3 {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    display: flex;   
    justify-content: center;
    align-items: flex-start; 
    background-color: #fee6e6;   
}

#v4 {
    grid-row: 4 / 5;
    grid-column: 2 / 5;
    display: flex;   
    justify-content: center;
    padding: 20px;
    align-items: flex-start; 
    background-color: #fee6e6;   
    font-size: min(6vw, 20pt);
    line-height: 1.15em;
}

#v5 {
    grid-row: 6 / 7;
    grid-column: 1 / 6;
    display: grid;
    grid-template-columns: 10px 3fr 1fr 10px;
    padding-bottom: 20px;
    background-color: white;   
}

#title-banner {
    display: flex;
    font-family: 'Formula Condensed';
    color: white;
}

.title-banner-letters {
    font-style: bold;
    cursor: default;
    margin: 0;
    font-feature-settings: normal;
}

.title-banner-letters-end {
    font-style: bold;
    cursor: default;
}

.title-banner-hover {
    font-feature-settings: "salt";
}

.brackets {
    font-size: min(40vw, 90vh);
    font-family: 'Telegraf';
    font-weight: normal;
    width: 25vw;
    /* text-align:  center; */
}

.bracket-image {
    width: 30vw;
    transform: rotate(270deg);
    margin-top: 2vw;;
}

#bracket-left {
    animation-duration: 2s;
    animation-name: slidein-left;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: left;
}
#bracket-right {
    animation-duration: 2s;
    animation-name: slidein-right;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: right;
}

@keyframes slidein-left {
    from {
        width:  15vw;
    }
    to {
    }
}

@keyframes slidein-right {
    from {
        width:  15vw;
    }
    to {
    }
}

#heading1 {
    font-size: 15vw;
    font-weight: bold;
    text-align: center;
}

.heading1-wide {
    font-feature-settings: "salt";
}

.section-heading {
    font-family: 'Telegraf';
    font-weight: bolder;
}

.section-copy {
    font-family: 'Telegraf';
    font-weight: normal;
}

.contact {
    grid-column: 2 / 4;
    display: flex;   
    justify-content: flex-end;
    align-items: flex-end; 
    font-size: min(2vw, 10pt);
}

#links {
    grid-column: 2 / 3;
    font-size: min(3vw, 23pt);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.link-holder {
    width: min(28vw, 270px);
    display: flex;
    justify-content: center;
}

.link-text {
    text-align: center;
    display: flex;
    align-content: center;
}

.bg-transition {
    background-color: white;   
}

.is-not-inview {
    background-color: black;   
}


.brackets-bottom {
    font-size: min(7vw, 50pt);
    font-family: 'Telegraf';
    font-weight: normal;
    width: 3vw;
    /* text-align:  center; */
}

#bracket-bottom-left {
    animation-duration: 2s;
    animation-name: slidein-bottom-left;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: left;
}

#bracket-bottom-right {
    animation-duration: 2s;
    animation-name: slidein-bottom-right;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: right;
}

@keyframes slidein-bottom-left {
    from {
        width:  3.5vw;
    }
    to {
    }
}

@keyframes slidein-bottom-right {
    from {
        width:  3.5vw;
    }
    to {
    }
}